@media all{ 
    .back-btn, .data-row, .collapsible-body ul li, .logout, .breadcrumb, #system_user, .data-edit-btn, .close, #search_modal .collection .collection-item, .search-student-result .collection-item{
    	cursor: pointer;
    }

    .hidden{
        display: none !important;
    }

    .p-title{
    	margin-top: -6px !important;
        margin-left: 10px !important;
    }

    .error-container, .error{
    	color: red;
    }

    .data-edit-btn{
    	display: none;
    }

    .data-row .material-icons {
        font-size: 15px;
    }

    .new-admission-section-details{
    	display:none;
    }

    .system-tab {
        margin-top: 7px;
    }

    .navbar-fixed{
    	height: 113px;
    }

    .navcrumb .breadcrumb{
    	color: grey;
    }

    .navcrumb .breadcrumb::before{
    	color: grey;
    	font-size: 20px;
    }

    .breadcrumb.active{
    	color: black;
    }

    .add-image-container{
    	width: 200px;
    	height: 200px;
    	border: 1px solid black;
    	margin-left: auto;
    	margin-right: auto;
    	position: relative;
    	background-color: #f7f7f7;
    	background-size: cover !important;
    	background-position: 50% 50% !important;
    	padding: 5px;
        text-align: center;
        font-size: 10px;
    }

    .add-image-container::after {
        content: "click to upload image";
        width: 100%;
        left: 0;
        position: absolute;
        text-align: center;
        top: 48%;
        color: darkgray;
        cursor: pointer;
        font-size: 15px;
    }

    nav .brand-logo.right{
    	margin-right: 64px;
    }

    .school-logo{
    	background-size: cover !important;
        background-position: center !important;
        width: 64px;
        height: 64px;
    }

    #system_user{
    	display: inline block !important;
    	float:none;
    	margin: 0px;
        margin-right: 17px;
    }

    #system_user i{
        display: inline-flex;
        height: 10px;
        line-height: 0px;
        margin-top: 9px;
        cursor: pointer;
        position: absolute;
        cursor: pointer;
    }

    .square.small {
        width: 40px;
        height: 40px;
    }

    .image-thumbmark{
    	background-size: cover !important;
    	background-position: center !important;
    }

    .detail-card{
    	min-height: 162px;
    }

    #edit_modal h4{
    	position: fixed;
      width: 100%;
      background: #fafafa;
      z-index: 1;
      left: 0;
      top: 0;
      padding: 1rem;
    }

    .modal-footer{
      border-top: 1px solid #dedede;
    }

    #edit_modal .modal-content-container{
      margin-top: 3rem;
    }

    .system-tab {
        margin-right: 10px;
    }

    .tab-content {
        padding: 1rem 0px !important;
    }

    #app.login{
    	margin-top: 40vh;
        transform: translateY(-50%);
    }

    div#app-main {
        padding-top: 1em;
    }

    body{
    	background: #fafafa;
    }

    /*.search-page-modal {
        background: #ffffff5c;
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 999;
        display:none;
    }*/

    /*.search-container {
        border: 1px solid #ececec;
        height: 95%;
        width: 80%;
        margin: auto;
        margin-top: 50vh;
        transform: translateY(-50%);
        background: #fff;
        padding: 1em;
    }*/

    #search_modal .collection{
    	border: none;
    }

    #search_modal .modal-content{
    	margin-top: -40px;
    }

    .search-prompt {
        color: gray;
    }

    .search-prompt b {
        color: #000000;
    }
    /*for form details*/
    .form-details input:disabled, .form-details textarea:disabled, .form-details select:disabled{
        color: black !important;
        border-bottom: 1px solid black !important;
    }

    @media print {
        /* Hide everything in the body when printing... */
        body.printing * { display: none; }
        /* ...except our special div. */
        body.printing #print_div { display: block; }
    }

    @media screen {
        /* Hide the special layer from the screen. */
        #print_div { display: none; }
    }

    .form-details .disabled .caret{
        display:none;
    }
    .form-details .add-image-container:after:disabled{
        display:none;
    }

    .image-container{
        width: 200px;
        height: 200px;
        margin-left: auto;
        margin-right: auto;
        position: relative;
        background-color: #d4d4d4;
        background-size: cover !important;
        background-position: 50% 50% !important;
        border: 1px solid #cccccc;
    }

    .thumb-image-container{
        width: 20px;
        height: 20px;
        margin-left: auto;
        margin-right: auto;
        position: relative;
        background-color: #d4d4d4;
        background-size: cover !important;
        background-position: 50% 50% !important;
        display: inline-flex;
    }

    .main-btn{
        position: fixed;
        right: 1em;
        bottom: 1em;

    }

    .logout.active .preloader-wrapper {
        margin-top: 6px;
        margin-right: 6px;
    }

    .logout.active{
        color: #8c8c8c;
    }

    .collection .collection-item.avatar{
        min-height: auto;
    }

    #admission_form .school-logo{
        position: absolute;
        top: 1rem;
    }





    .search-student{
        display:none;
    }

    .login-widget {
        border: 1px solid;
        height: 20vh;
        bottom: 0;
        position: absolute;
        width: 100%;
    }

    .page-footer {
        padding-top: 0px;
        position: absolute;
        width: 100%;
        bottom: 60px;
    }




    /**/

    h3.firstname, h2.lastname {
        margin: 0;
    }

    h3.firstname{
        font-weight: 200;
    }

    .teacher-card .activator{
        float:right;
        cursor: pointer;
    }

}






/*login*/
body {
  font-family: "Open Sans", sans-serif;
  height: 100vh;
  /*background: url("https://i.imgur.com/HgflTDf.jpg") 50% fixed;*/
  background-size: cover;
}

@keyframes spinner {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(359deg);
  }
}
* {
  box-sizing: border-box;
}

.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  min-height: 100%;
  padding: 20px;
  background: rgba(4, 40, 68, 0.85);
}

.login {
  border-radius: 2px 2px 5px 5px;
  padding: 10px 20px 20px 20px;
  width: 90%;
  max-width: 320px;
  background: #ffffff;
  position: relative;
  padding-bottom: 80px;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.3);
}
.login.loading button {
  max-height: 100%;
  padding-top: 50px;
}
.login.loading button .spinner {
  opacity: 1;
  top: 40%;
}
.login.ok button {
  background-color: #8bc34a;
}
.login.ok button .spinner {
  border-radius: 0;
  border-top-color: transparent;
  border-right-color: transparent;
  height: 20px;
  animation: none;
  transform: rotateZ(-45deg);
}
.login input {
  display: block;
  padding: 15px 10px;
  margin-bottom: 10px;
  width: 100%;
  border: 1px solid #ddd;
  transition: border-width 0.2s ease;
  border-radius: 2px;
  color: #ccc;
}
.login input + i.fa {
  color: #fff;
  font-size: 1em;
  position: absolute;
  margin-top: -47px;
  opacity: 0;
  left: 0;
  transition: all 0.1s ease-in;
}
.login input:focus {
  outline: none;
  color: #444;
  border-color: #2196F3;
  border-left-width: 35px;
}
.login input:focus + i.fa {
  opacity: 1;
  left: 30px;
  transition: all 0.25s ease-out;
}
.login a {
  font-size: 0.8em;
  color: #2196F3;
  text-decoration: none;
}
.login .title {
  color: #444;
  font-size: 1.2em;
  font-weight: bold;
  margin: 10px 0 30px 0;
  border-bottom: 1px solid #eee;
  padding-bottom: 20px;
}
.login button {
  width: 100%;
  height: 100%;
  padding: 10px 10px;
  background: #2196F3;
  color: #fff;
  display: block;
  border: none;
  margin-top: 20px;
  position: absolute;
  left: 0;
  bottom: 0;
  max-height: 60px;
  border: 0px solid rgba(0, 0, 0, 0.1);
  border-radius: 0 0 2px 2px;
  transform: rotateZ(0deg);
  transition: all 0.1s ease-out;
  border-bottom-width: 7px;
}
.login button .spinner {
  display: block;
  width: 40px;
  height: 40px;
  position: absolute;
  border: 4px solid #ffffff;
  border-top-color: rgba(255, 255, 255, 0.3);
  border-radius: 100%;
  left: 50%;
  top: 0;
  opacity: 0;
  margin-left: -20px;
  margin-top: -20px;
  animation: spinner 0.6s infinite linear;
  transition: top 0.3s 0.3s ease, opacity 0.3s 0.3s ease, border-radius 0.3s ease;
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.2);
}
.login:not(.loading) button:hover {
  box-shadow: 0px 1px 3px #2196F3;
}
.login:not(.loading) button:focus {
  border-bottom-width: 4px;
}

footer {
  display: block;
  padding-top: 50px;
  text-align: center;
  color: #ddd;
  font-weight: normal;
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.2);
  font-size: 0.8em;
}
footer a, footer a:link {
  color: #fff;
  text-decoration: none;
}

.guest .page-footer, .guest .page-footer .footer-copyright{
  background: transparent;
}





/*system account details*/

.account-details td:nth-child(1) {  
  width: 20%;
  text-align: right;
}
.account-details td:nth-child(2) {  
  font-weight: 300;
  background: #dedede;
}

.account-details td{
  padding: 5px;
}


/*change theme*/
.theme-container {
  height: 25px;
}

.theme-content{
  width: 50%;
  height: 100%;
}

.float-left{
  float: left;
}

.float-right{
  float:right;
}
